* {     
    margin: 0;     
    padding: 0;     
    box-sizing: border-box;    
     font-family: 'Poppins', sans-serif; 
    } 
    body {    
      display: flex;     
    justify-content: center;     
    align-items: center;     
  height: 100vh;    
   background: #2899a8;     
  font-family: sans-serif; 
 } 
 .chat-container {     
    width: 450px;     
    background: white;     
    padding: 20px;     
    border-radius: 10px;     
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);     
    text-align: center; 
} 
h2 {     
    margin-bottom: 15px;     
    color: #333; 
}
.message-box {     
    height: 250px;     
    overflow-y: auto;     
    border: 1px solid #ddd;    
     padding: 10px;     
     background: #f9f9f9;     
     border-radius: 5px;     
     margin-bottom: 10px; 
    }
    .message-box p {     
        padding: 8px;     
        background: #e0e0e0;     
        border-radius: 5px;     
        margin: 5px 0;     
        text-align: left; 
    }
    input {     
        width: 100%;     
        padding: 10px;     
        margin-bottom: 8px;     
        border: 1px solid #ccc;     
        border-radius: 5px;     
        outline: none; 
    } 
    button {     
        width: 100%;     
        padding: 10px;     
        border: none;     
        background: #007BFF;     
        color: white;     
        border-radius: 5px;     
        cursor: pointer;     
        font-size: 16px; 
    } 
    button:hover {     
        background: #0056b3; 
    }